header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #070505;
    margin:-10px;
    border-style: solid;
    border: 50px 50px;
    border-color: black; 
    
}
header img {
    height: 200px;
    width: 250px;
    padding: 25px;
}
.logo {
    font-family: Fruktur; 
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: -25px;

}
.logo h2 {
    line-height: 5px;
}
nav {
    display: flex;
    justify-content: center;
    line-height: 10px;
}
.home {
    display: flex;
    background-color: rgb(51, 51, 51);
    padding: 1vh 5vh;
    list-style: none;
    flex-direction: row;

}
 .home li {
    display: flex;
    float: left;

}
.home li a {
    color: #eae9f0;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-family: Fruktur;
    font-size: 20px;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("https://res.cloudinary.com/teepublic/image/private/s--a3apRi94--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1479327678/production/designs/825819_1.jpg");
    height: 65vh;
    width: 101vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -20px;

}
.about {
    width: 300px;
    font-family: Freckle Face;
    color: white;
    font-size: 22px;
}
.photos {
    display: flex;
    flex-direction: column;
    width:200px;
    color: white;
    font-family: Freckle Face;
    font-size: 22px;
    line-height: 20px;

}
.photos h2 {
    line-height: 0px;
}
.photos p {
    line-height: 25px;
}
.photos img {
    height: 100px;
    width: 100px;
    padding: 5px;
}
.contact {
    width: 200px;
    font-family: Freckle Face;
    color: white;
    font-size: 22px;
}
footer {
    display: flex;
    background-color: black;
    padding: 10px;
    font-family: Freckle Face;
    color: white;
    margin: -15px;
    justify-content: space-between;
}
social {
    text-decoration: none;
} 
nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}